@model ProductManager.Models.Product

<h2>Product Details</h2>

<dl class="row">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>
    <dt class="col-sm-3">Quantity</dt>
    <dd class="col-sm-9">@Model.Quantity</dd>
    <dt class="col-sm-3">Department</dt>
    <dd class="col-sm-9">@Model.Department?.DepartmentName</dd>
    <dt class="col-sm-3">Production Status</dt>
    <dd class="col-sm-9">@Model.ProductionStatus</dd>
    <dt class="col-sm-3">Created Date</dt>
    <dd class="col-sm-9">@Model.CreatedDate</dd>
</dl>

<a href="@Url.Action("Index", "Product")" class="btn btn-secondary">Back to List</a>
